@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-app: #F8FAFC;
  --bg-surface: #FFFFFF;
  --border-color: #E2E8F0;
  --text-primary: #0F172A;
  --text-muted: #64748B;
}

.dark {
  --bg-app: #070B14;
  --bg-surface: #151F32;
  --border-color: #26354A;
  --text-primary: #F8FAFC;
  --text-muted: #94A3B8;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: var(--font-plus-jakarta), sans-serif;
}